annotated-types==0.7.0
blis==1.0.2
catalogue==2.0.10
confection==0.1.5
cymem==2.0.10
murmurhash==1.0.11
numpy==2.2.1
packaging==24.2
pandas==2.2.3
preshed==3.0.9
pyarrow==18.1.0
pydantic==2.10.4
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
setuptools==75.6.0
six==1.17.0
srsly==2.5.0
thinc==9.1.1
typing_extensions==4.12.2
tzdata==2024.2
wasabi==1.1.3
